<h2>Backdoor Login</h2>

<p>
  Username can be any UCD login ID and the password is in the config/config.json
  file.
</p>

<form action="<%= context %>/login" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="username" /><br />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="Steal Identity" />
  </div>
</form>
